@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-x: hidden; /* 가로 스크롤 제거 */
    font-family: 'CookieRun-Regular';
    /* width: 1920px; */
    width: 100vw; 
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'CookieRun-Regular';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-family: 'CookieRun-Regular';
}
.header { /*아무말 대잔치 레이아웃*/
    display:flex;
    justify-items: center;
    justify-content: center;
    gap: 141px;
    width: 100%;
    width:1920px;
    height:104px;
    border-bottom: 1px solid black; /* 두께 2px, 검정색 실선 테두리 */

    
    align-items: center;

    
}

.header h1 { /*아무말 대잔치 글씨*/
    width:206px;
    height:32px;
    
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    /* position:relative;  < 의 기준(부모*) */
}

.header a {
    /* position :absolute;
    left:20px;     < 정렬부분 수정 필요 (억지로 맞춰둠) */
    text-decoration: none; /* 밑줄 제거 */
    font-size: 30px;
    color:black;
}

.image1 {
    width:36px;         /* 아무말 대잔치 오른쪽사진*/
    height:36px;
    border-radius:100px;
    cursor: pointer; /* 마우스 커서 포인터 표시 */
}

.wrap {
    margin-top:90px;
    display: flex;
    justify-content: center;
    flex-direction: column;


    width:100%;
    max-width:392px;
}
.wrap h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.19px;
    text-align: center;
}

.profilephotoBox {
    font-weight: 700;
    font-size: 15px;
    line-height: 17.9px;
}
.imageBox {
    width:100%;
    display: flex;
    justify-content: center;
}
.image2 {
    width:149px;
    height:149px;
    border-radius: 100px;
}

.email{
    font-weight: 700;
    font-size: 15px;
    line-height: 17.9px;
}
.emailinfo {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
}
.nickname {
    font-weight: 700;
    font-size: 15px;
    line-height: 17.9px;
}
.nicknameinput{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;

    width:355px;
    height:33px;
    display:flex;
    align-items:center;

    padding-left:7px;
    margin-top:-6px;
}
.infoBox{
    display:flex;
    flex-direction: column;
    gap:20px;
    width:363px;
}
.nicknameBox{
    width:100%;
    display:flex;
    
}
.helperText {
    
    display: none;
    color:#FF0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
}
.helpertextbox{
    height: 33Px;
    margin-top: -25px;
    width:100%;
}
.sujungButton {
    margin-top: -20px;
    width: 355px;
    height: 33px;
    background-color: #6dabea;
    border:none;
    border-radius: 6px;
    color:white;

    font-weight: 700;
    font-size: 14px;
    line-height: 16.71px;
    text-align: center;
    cursor: pointer; /* 마우스 올릴 때 포인터 변경 */
}

.buttonBox {
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.buttonBox p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
    text-align: center;
    
}

.sujungwanButton {
    margin-top: 25px;
    width: 102px;
    height: 46px;
    background-color: #ACA0EB;
    border:none;
    border-radius: 20px;
    color:white;

    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
    cursor: pointer; /* 마우스 올릴 때 포인터 변경 */
}

/* 토스트메세지 css */
.toast {
    visibility: hidden;
    width: 102px;
    height:46px;
    background-color: #ACA0EB;
    color: #fff;
    border-radius: 15px;
    transition: visibility 0s, opacity 0.5s ease;
    margin-top : 30px;
    text-align: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;

    display:flex;
    align-items: center;
    justify-content: center;

    /* 초기 숨김 상태 */
    opacity: 0;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.image1 {
    cursor: pointer;
}

.hidden {
    display:none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    width: 115px;
    height: 105px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* 패딩이 박스 크기에 영향을 주지 않음 */
    gap : 15px;
}

.dropdown-content a {
    display: block;
    color: black;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content.show {
    display: flex; /* 드롭다운 활성화 시 보이도록 설정 */
}

/* 모달 배경 스타일 */
.deletemodal {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 고정 위치 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    width: 100%; /* 전체 화면 너비 */
    height: 100%; /*전체 화면 높이*/
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

/* 모달 내용 스타일 */
.modalcontent {
    background-color:white; /*흰색 배경*/
    margin: 15% auto; /* 화면 중앙에 위치 */
    border-radius: 15px;
    width: 408px; /* 너비 설정 */
    height:242px;
}

.modalcontent {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.modalbutton {
    width:100%;
    height:44px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;   /* 버튼사이의 간격 */
    margin-top:20px;
    
}

.modalbutton button {
    width:127px;
    height:44px;
    border:none;
    border-radius: 15px;

    /* 123 글씨 */
    font-weight: 400;
    font-size: 20px;
    line-height: 23.87px;
    text-align: center;

    cursor: pointer; /* 포인터 변경 */
    
}
.confirmButton {
    background-color: #ACA0EB;
    color:black;
}
.cancleButton{
    background-color: black;
    color:white;
}
.modalcontent h1 {
    /*게시물을삭제? 글씨*/
    font-weight: 700;
    font-size: 24px;
    line-height: 28.64px;
    text-align: center;
}
.modalcontent p1 {
    /* 삭제된 내용은~글씨 */
    font-weight: 400;
    font-size: 20px;
    line-height: 23.87px;
    text-align: center;
}