@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html{
    /* width: 1920px; */
    width: 100vw; 
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header { /*아무말 대잔치 레이아웃*/
    display:flex;
    justify-items: center;
    
    width: 100%;
    width:1920px;
    height:104px;
    border-bottom: 1px solid black; /* 두께 2px, 검정색 실선 테두리 */

    justify-content: center;
    align-items: center;
}

.header h1 { /*아무말 대잔치 글씨*/
    width:206px;
    height:32px;
    
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-weight: 32px;
    line-height: 32px;
    text-align: center;
}

.logintext h2 { /*로그인 글씨*/

    width: 100%;
    max-width: 363px;
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    font-size: 32px;
    line-height: 38.19px;
    text-align: center;
}

.logintext {
    margin-top:150px;
    width: 363px;
    height: 38px;
}
.centerflex{
    /* /* display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
     */
    margin-top: 50px; 
}

.login_container {  /*로그인 폼 전체*/
    width: 363px;
    height: 198px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top-right-radius:8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border:4px solid #FF3333; */
}

.inputBox {
    width: 363px;
    height: 221px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
    
}

.inputBox label[for="email"] {
    width:52px;
    height:18px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight:700;
    line-height: 17.9px;
}
.login_form label[for="password"]{
    width:52px;
    height:18px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight:700;
    line-height: 17.9px;
}

#email {
    width:355px;
    height:33px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto; /* 양쪽 여백을 자동으로 설정하여 가운데 정렬 */
    margin-right: auto; /* 양쪽 여백을 자동으로 설정하여 가운데 정렬 */
}

#password{
    width:355px;
    height:33px;
    margin-left: auto; /* 양쪽 여백을 자동으로 설정하여 가운데 정렬 */
    margin-right: auto; /* 양쪽 여백을 자동으로 설정하여 가운데 정렬 */
}

.loginbutton {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 수직 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    margin-top: 20px; /* 버튼과 링크 사이의 여백 */
}
.loginbutton button {
    margin-top:3px;
    width: 355px; /* 부모 요소의 너비에 맞춤 */
    height: 40px; /* 버튼의 높이 설정 */
    font-size: 16px; /* 글자 크기 설정 */
    background-color: #ACA0EB; /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    border: none; /* 기본 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 포인터 변경 */
    
}

.loginbutton a {
    margin-top: 10px; /* 버튼과 링크 사이의 간격 */
    font-size: 14px; /* 링크 글자 크기 */
    color: black; /* 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.loginbutton button:hover {
    background-color: #7F6AEE; /* 마우스 오버 시 배경색 변경 */
}
.loginbutton button.active {
    background-color: #7F6AEE; /* 유효할 때 배경색 */
}

.header h2 {
    width: 86px;
    height: 77px;
    
}

.helperText1{
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color : #FF0000;
    margin-top : -24px;
}

.helperText2{
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color : #FF0000;
    margin-top: 3px;
}