@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'CookieRun-Regular';
    /* width: 1920px; */
    width: 100%;
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'CookieRun-Regular';
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width:100%;
    margin:0px;
    padding:0px;

    display: flex;                /* 전체 페이지를 flexbox로 설정 */
    flex-direction: column;       /* 세로 방향으로 정렬 */
    align-items: center; 
}
input {
    font-family: 'CookieRun-Regular';
}

.header { /*아무말 대잔치 레이아웃*/
    display:flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height:104px;
    border-bottom: 1px solid black; /* 두께 2px, 검정색 실선 테두리 */

    
    align-items: center;

    
}
.spaceBox {
    width:36px;
    height:36px;
}
.header h1 { /*아무말 대잔치 글씨*/
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;

    margin-top:0px;
    margin-bottom:0px;
    margin-left:130px;
    margin-right:130px;
}

.header a {
    text-decoration: none; /* 밑줄 제거 */
    font-size: 30px;
    color:black;
}

.imageBox1 {
    width:36px;
    height:36px;
}

.image1 {
    width:36px;         /* 아무말 대잔치 오른쪽사진*/
    height:36px;
    border-radius:100px;
    cursor: pointer; /* 마우스 커서 포인터 표시 */
}

.wrap {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width:100%;
    max-width:392px;
}

.wrap h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 38.19px;
    text-align: center;

    margin-top : 106px;
}
article {
    width:392px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.passwordBox {
    width:100%;
    max-width: 355px;
    display:flex;
    flex-direction: column;
    box-sizing: border-box; /* 패딩이 박스 크기에 영향을 주지 않음 */
    gap : 10px;
}

.passwordInputBox, .passwordInputBox1{
    width:100%;
    max-width:355px;
    height:35px;
    padding-left:10px;
    box-sizing: border-box; /* 패딩이 박스 크기에 영향을 주지 않음 */
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
}

.passwordIBox h2 {
    width: 100%px;
    max-width: 355px;
    box-sizing: border-box; /* 패딩이 박스 크기에 영향을 주지 않음 */

    font-weight: 700;
    font-size: 15px;
    line-height: 17.9px;
}

#helperText1{
    display:none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color : #FF0000;
    margin-top: 10px;
}
.helperTextbox {
    margin-top : 11px;
    width: 100%;
    height: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#helperText2{
    display:none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color : #FF0000;
}

.sujungButton {
    width: 100%;
    max-width:355px;
    height: 33px;
    margin-top : 28px;
    border-radius: 3px;
    color:white;
    border: none;
    background-color: #6dabea;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.71px;
    text-align: center;
    cursor: pointer; /* 마우스 올릴 때 포인터 변경 */
}

.sujungButton.active {
    background-color: #1e75cd;
    cursor: pointer;
}
.sujungButton.disabled {
    background-color: #6dabea;
    cursor: not-allowed;
}

/* 토스트메세지 css */
.toast {
    visibility: hidden;
    width: 102px;
    height:46px;
    background-color: #ACA0EB;
    color: #fff;
    border-radius: 15px;
    transition: visibility 0s, opacity 0.5s ease;
    margin-top : 30px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;

    display:flex;
    align-items: center;
    justify-content: center;

    /* 초기 숨김 상태 */
    opacity: 0;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    width: 115px;
    height: 105px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* 패딩이 박스 크기에 영향을 주지 않음 */
    gap : 15px;
}

.dropdown-content a {
    display: block;
    color: black;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content.show {
    display: flex; /* 드롭다운 활성화 시 보이도록 설정 */
}